img {
  height: 300px;
  width: 300px;
}

.col-md-3 {
  display: none;
}

#politicalGroup {
  display: none;
}

#ageGroup {
  display: none;
}

#bobrGroup {
  display: none;
}

#restart {
  display: inline-block;
}
